**/*.log
**/*.md
**/*.php~
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/compose.*.yaml
**/compose.yaml
**/Dockerfile
**/Thumbs.db
.editorconfig
.env.*.local
.env.local
.env.local.php
.deptrac*.cache
.php-cs-fixer.cache
.phpunit.result.cache
.castor.stub.php
bin/*
!bin/console
public/bundles/
var/
vendor/
