includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon

parameters:
    level: max
    paths:
        - src
        - tests
    excludePaths:
        - tests/object-manager.php
    symfony:
        containerXmlPath: var/cache/dev/App_Shared_Infrastructure_Symfony_KernelDevDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
